<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.soft1921.bili.api.mapper.UserMapper">
    <resultMap id="UserMap" type="top.soft1921.bili.api.model.entity.User">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="signature" jdbcType="VARCHAR" property="signature" />
        <result column="avatar" jdbcType="VARCHAR" property="signature" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <select id="getUserById" resultMap="UserMap" resultType="top.soft1921.bili.api.model.entity.User" >
        select
        id,nickname,signature,avatar,level,phone_number,password
        from t_user
        where id = #{userId}


    </select>

    <select id="getAll" resultMap="UserMap" resultType="top.soft1921.bili.api.model.entity.User">
          SELECT *
          FROM t_user

    </select>
</mapper>